body {
  margin: 0px;
  font-family: Montserrat, Arial, sans-serif;
  color: #404040;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.subtitulo {
  font-size: 4.5rem;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .experiencia .subtitulo {
    font-size: 3.8rem;
    text-transform: capitalize;
  }
}
