.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
  color: #2b2b2b;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/Vector\ 1.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -95px;
  z-index: -1;
}

.introducao h1::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/Vector\ 2.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -80px;
}

.introducao p {
  font-size: 1rem;
  color: #919191;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    top: -22px;
    left: -97px;
  }
  .introducao h1::after {
    top: -22px;
    left: -82px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .introducao h1 {
    font-size: 2.3rem;
  }
  .introducao h1::after {
    width: 100px;
    height: 80px;
    left: -70px;
  }
  .introducao h1::before {
    width: 100px;
    height: 80px;
    left: -85px;
  }
}

@media (max-width: 460px) {
  .introducao {
    grid-template-columns: 1fr;
    margin: 55px;
  }
  .introducao img {
    display: none;
  }
}

@media (max-width: 400px) {
  .introducao h1::after {
    display: none;
  }
  .introducao h1::before {
    display: none;
  }
}
